{% extends 'core/base.html' %}
{% load static %}

{% block content %}

    <div class="site-section site-hero">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-10">
            <span class="d-block mb-3 caption" data-aos="fade-up" data-aos-delay="100">Students Earn</span>
            <h1 class="d-block mb-4" data-aos="fade-up" data-aos-delay="200">About Us</h1>
            <span class="d-block mb-5 caption" data-aos="fade-up" data-aos-delay="300">Read All The Terms And Conditons.</span>
            
          </div>
        </div>
      </div>
    </div>



    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="site-section-heading">
              <h2>Process</h2>
            </div>
          </div>
          <div class="col-lg-5 mt-5 pl-lg-5" data-aos="fade-up" data-aos-delay="200">
            <ul>
            	<li>Please Go To Register and signup.</li>
            	<li>Login. You will be redirected to your Profile Section.</li>
            	<li>Please update your preferences of Subjects and Verification Details.</li>
              <li>Once verified by us, You will receive a mail.</li>
              <li>Hit on "Assign me ID" Button to start solving Questions.</li>
              <li>Read more about "Assign me ID" below.</li>
            </ul>
          </div>
        </div>

        
      </div>
    </div>


    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="site-section-heading">
              <h2>Assign Me ID</h2>
            </div>
          </div>
          <div class="col-lg-5 mt-5 pl-lg-5" data-aos="fade-up" data-aos-delay="200">
            <ul>
              <li>Once you click on "Assign Me ID" button on your profile.</li>
              <li>You will receive a <strong>mail</strong> within one hour with your <strong>ID</strong> and a <strong>URL</strong> where you will get Questions To Solve.</li>
              <li>Start Solving Questions and update the number of Questions you do Everyday on your profile Section.</li>
              <li>On 15th of every next month, you ll get <strong>paid</strong> for the questions you solved preceeding month on your UPI ID you provided.</li>
              <li>You will get a mail one day before your payment.</li>
            </ul>
          </div>
        </div>

        
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="site-section-heading">
              <h2>Question Rates</h2>
            </div>
          </div>
          <div class="col-lg-5 mt-5 pl-lg-5" data-aos="fade-up" data-aos-delay="200">
            <ul>
              {% for c in cat %}
              <li>{{ c.Title }} : ₹{{ c.price }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="site-section-heading">
              <h2>How To Reach Us?</h2>
            </div>
          </div>
          <div class="col-lg-5 mt-5 pl-lg-5" data-aos="fade-up" data-aos-delay="200">
            <ul>
              <li>Once you have logged in.</li>
              <li>You can directly send us a message from your Profile Section.</li>
              <li>We will reply you within an hour.</li>
            </ul>
          </div>
        </div>

        
      </div>
    </div>

    

    
{% endblock content %}