{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>StudentsEarn</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'core/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">

  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    
    <header class="site-navbar py-3" role="banner">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-11 col-xl-2">
            <h1 class="mb-0"><a href="{% url 'home' %}" class="text-white h2 mb-0">Students<span class="text-primary">Earn</span> </a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if not user.is_authenticated %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {% else %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'profile' user.id %}">Profile</a></li>
                
                {% endif %}
                <li class="cta"><a href="#">About Us</a></li>
              </ul>
            </nav>
          </div>
          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
          </div>
        </div>
      </div>
    </header>



    {% block content %}
    {% endblock content %}




    <footer class="site-footer">
      <div class="container">
        <div style = "text-align: center;">
          <div>
            <h2 class="footer-heading text-uppercase mb-4">Students Earn</h2>
            <p>
              Come, Grow With Us.
            </p>
          </div>
        </div>
        <div class="row">
          
            <div class="col-md-12 text-center">
              <div class="border-top pt-5">
              <p>
              This website is made with <i class="icon-heart text-primary" aria-hidden="true"></i> and Python. Powered by Nginx.</i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
  </div>

  <script src="{% static 'core/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'core/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'core/js/jquery-ui.js' %}"></script>
  <script src="{% static 'core/js/popper.min.js' %}"></script>
  <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'core/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'core/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'core/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'core/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'core/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'core/js/aos.js' %}"></script>

  <script src="{% static 'core/js/main.js' %}"></script>
    
  </body>
</html>