{% extends 'core/base.html' %}
{% load static %}

{% block content %}


    <div class="site-section site-hero">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-10">


{% if saved %}
<h1>You have successfully registered. Please login and update your Profile</h1>
{% endif %}

            <span class="d-block mb-3 caption" data-aos="fade-up" data-aos-delay="100">Helping Students</span>
            <h1 class="d-block mb-4" data-aos="fade-up" data-aos-delay="200">Students Earn</h1>
            <span class="d-block mb-5 caption" data-aos="fade-up" data-aos-delay="300">Helping Students All Over the World</span>
            <a href="#" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>About Us</span></a>
          </div>
        </div>
      </div>
    </div>



    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="site-section-heading">
              <h2>Want To Work</h2>
            </div>
          </div>
          <div class="col-lg-5 mt-5 pl-lg-5" data-aos="fade-up" data-aos-delay="200">
            
            <ul>
            	<li>Passionate to solve questions.</li>
            	<li>Looking for a part time job to incur your daily spendings.</li>
            	<li>Hit the About Us Section and read the whole process.</li>
            </ul>
          </div>
        </div>

        
      </div>
    </div>


    
    
{% endblock content %}